<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_main_btns.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,166}}</string>
                <key>sourceSize</key>
                <string>{636,166}</string>
            </dict>
            <key>bg_sub_btns.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{625,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,130}}</string>
                <key>sourceSize</key>
                <string>{625,130}</string>
            </dict>
            <key>btn_backpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,110},{83,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,66}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>btn_chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,245},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>btn_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,83},{92,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{92,106}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>btn_hecheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,412},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,259},{76,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,106}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>btn_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{92,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,106}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>btn_liuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,379},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>btn_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,337},{73,104}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{73,104}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>btn_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,312},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>btn_rongyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,178},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,177},{80,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{80,106}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{79,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,108}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btns.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b73f11422fbcb51d85261f0f86c6b83:1/1$</string>
            <key>textureFileName</key>
            <string>btns.png</string>
        </dict>
    </dict>
</plist>
